html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; 
  display: flex;
  line-height: 1;
}
img {
  align-self: center;
  max-width:100%;
  height: auto;
  border-radius: 10%;
}
body {
  position: relative;
  align-items:center;
  align-content: center;
  margin-top: 20px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  background-image: url("https://imgsrc.hubblesite.org/hvi/uploads/image_file/image_attachment/31690/STSCI-H-p1917b-m-2000x1847.png");
  Background-color: #FFFFFF;
  background-size: cover;
  color: white;
  font-weight: 500
}
table {
  position: relative;
  align-items:center;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  border: 3px white;
  border-style: outset;
  vertical-align: middle;
  text-align: center;
  align-items:center;
  padding: 2px;
  border-radius: 10px;
  position: relative;
  background: black;
  overflow-x:auto;
}
thead, th {
  border-radius: 10px;
  border-style: inset;
  border: 2px white;
  border-style: groove;
  font-weight: 900;
  font-size: 24px;
  padding: 4px;
}
tbody, td {
  border-radius: 10px;
  border-style: inset;
  font-weight: 600;
  border-style: solid;
  padding: 2px;
  font-size: 18px;
  width: auto;
  height: auto;
}
#venus {
  color: darkkhaki;
}
#earth {
  color: deepskyblue;
}
#mars {
  color: red;
}
#jupiter {
  color: darkorange;
}
.subtext {
  font-size: 14px;
  font-variant: normal;
}
.maintitle {
  font-size: 30px;
  color: white;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}
.maintext {
  font-size: 24px;
  color: lightgray;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight: 500
}
.planetname {
  text-decoration-line: underline;
  text-decoration-style: double;
  font-size: 22px;
  padding: 2px;
}
.titles {
  color: lightslategray;
  font-variant: small-caps;
}