body {
	margin 5%;
	background-image: url("stars.jpg");
	Background-color: #FFFFFF;
	background-size: cover;
	font-size: 10px;
	color: white;
	font-weight: 500
}
table {
	margin-top: 15%;
  margin-bottom: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border: 3px white;
	border-style: outset;
	vertical-align: middle;
	text-align: center;
	padding: 4px;
	border-radius: 10px;
	position: relative;
	background: black;
}
thead, th {
	border-style: inset;
	border: 2px white;
	border-style: groove;
	font-weight: 900;
	font-size: 18px;
	padding: 4px;
}
tbody, td {
	border-style: inset;
	font-size: 14px;
	font-weight: 600;
	border-style: solid;
	padding: 4px;
}
.titles {
	color: lightslategray;
}
.venus {
	color: darkkhaki;
}
.earth {
	color: deepskyblue;
}
.mars {
	color: red;
}
.jupiter {
	color: darkorange;
}