html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif; 
  display: flex;
}
body {
  position: relative;
	align-items:center;
	align-content: center;
	margin-top: 20px;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
	background-image: url("stars.jpg");
	Background-color: #FFFFFF;
	background-size: cover;
	color: white;
	font-weight: 500
}
table {
  position: relative;
	align-items:center;
	align-content: center;
	margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  border: 3px white;
	border-style: outset;
	vertical-align: middle;
	text-align: center;
	align-items:center;
	padding: 4px;
	border-radius: 10px;
	position: relative;
	background: black;
	overflow-x:auto;
}
thead, th {
  border-radius: 10px;
	border-style: inset;
	border: 2px white;
	border-style: groove;
	font-weight: 900;
	font-size: 24px;
	padding: 4px;
}
tbody, td {
  border-radius: 10px;
	border-style: inset;
	font-weight: 600;
	border-style: solid;
	padding: 4px;
	font-size: 18px;
}
.planetname {
	font-size: 22px;
}

.titles {
	color: lightslategray;
	
}
#venus {
	color: darkkhaki;
}
#earth {
	color: deepskyblue;
}
#mars {
	color: red;
}
#jupiter {
	color: darkorange;
}
.subtext {
	font-size: 14px;
}
.maintitle {
	font-size: 30px;
	color: white;
	font-weight: 900;
	display: flex;
  justify-content: center;
	align-items: center;
	text-align: center;
	align-content: center;
}
.maintext {
	font-size: 24px;
	color: lightgray;
	font-weight: 700;
	display: flex;
  justify-content: center;
	align-items: center;
	text-align: center;
}
.copyright {
  margin-top: 15px;
  text-align: center;
	font-size: 14px;
	color: white;
	justify-content: center;
	align-items: center;
	font-weight: 500
	
}

